{% load static %}
<nav class="bg-white border-b border-gray-100 font-poppins sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16 md:h-20">
            
            <div class="flex-shrink-0 flex items-center">
                <a href="/" class="flex items-center">
                    <img src="{% static 'images/Marca - Sonmus.png' %}" alt="Logo Somnus" class="h-7 w-auto md:h-12 transition-all">
                </a>
            </div>

            <div class="hidden md:flex flex-1 justify-center px-10">
                <div class="relative w-full max-w-md">
                    <input type="text" placeholder="Buscar questionários" 
                           class="w-full bg-gray-100 border-none rounded-full py-2.5 px-5 focus:ring-2 focus:ring-somnus-blue-inst text-sm">
                </div>
            </div>

            <div class="hidden md:flex items-center space-x-8">
                <a href="#" class="text-gray-600 hover:text-somnus-blue-deep font-medium text-sm transition">Avaliação</a>
                <a href="#" class="bg-somnus-blue-deep text-white px-8 py-2.5 rounded-full font-semibold text-sm hover:bg-somnus-blue-inst transition shadow-sm">
                    Entrar
                </a>
            </div>

            <div class="md:hidden flex items-center gap-1">
                <button type="button" class="p-1.5 text-gray-500 hover:bg-gray-100 rounded-full transition">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </button>

                <a href="#" class="bg-somnus-blue-deep text-white px-3 py-1.5 rounded-lg font-semibold text-[11px] hover:bg-somnus-blue-inst transition whitespace-nowrap">
                    Entrar
                </a>

                <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-1.5 text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none">
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>